/* RESETS */
*, html, body, div, ul, ol, li, h1, h2, h3, h5, h5, h6, p {margin:0; padding:0}
h1, h2, h3, h5, h5, h6  {font-size:100%}
fieldset, img           {border:0}
strong                  {font-weight: bold}
* a                     {position:relative} 
a                       {outline:none}        
a img                   {border:none}     

/* COLORS */
body                    {background-color: #312929; color: #fff;}
.content                {background-color: #ffffff; color: #221111;}
a                       {color: #5577ff;}
a:hover, a:focus        {color: #ff2222;}
a:visited               {color: #aa44ff;}

/* TYPOGRAPHY */
body                    {font-family: 'Palatino', 'Georgia', 'Times', serif;}
body, .authoring, a     {font-size: 0.9em;}
h1                      {font-size: 1.7em;}
h2                      {font-size: 1.3em;}
.content                {font-size: 1.2em;}
h1, h2                  {line-height: 1.25em;}
.header, .footer        {text-align: right;}

/* LAYOUT */
body > div              {clear: both;}

/* WIDTHS */
body > div              {width: 670px; margin-left: auto; margin-right: auto; padding-left: 80px; padding-right: 70px;}
.content                {padding-top: 45px; padding-bottom: 45px;}
ul li                   {margin-left: 1em;}
a                       {padding-left: 0.2em; padding-right: 0.2em;}

/* HEIGHTS */
body > div              {margin-top: 5px; margin-bottom: 5px; padding-top: 5px; padding-bottom: 5px;}
h2                      {margin-top: 1.5em;}
p, ul li                {margin-top: 0.5em; margin-bottom: 1em;}

/* LISTS */
ul li                   {list-style-type: circle;}

/* ROUNDED CORNERS */
.content                {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
