<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>RED Interactive Agency &sect; {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="geeks@ff0000.com" />
<meta name="Copyright" content="RED Interactive Agency" />
<meta name="Version" content="2.0" />

<meta name="description" content="Technical blog from the developers at RED" />
<meta name="keywords" content="Django, Amazon, EC2, Python" />
<meta name="viewport" content="width=800" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="container">
  
  <a href="/" rel="start" title="Home Page (accesskey 0)" accesskey="0"><img src="/images/red_interactive_200x11.png" style="width: 200px; smargin-left: 550px; margin-top: 10px; margin-bottom: 10px " /></a>
  {{ content }}
  <div class="footer" style="text-align: center; border-top: 1px solid #ededed; padding-top: 1.5em; margin-top: 1.5em; padding-bottom: 0.5em; font-size: 0.9em">
    <a href="/" rel="start" title="Home Page">Back to the list of articles</a> | <a href="http://github.com/ff0000" title="ff0000 at Github">Browse our repositories in Github</a> | <a href="http://ff0000.com" title="RED Interactive Agency">Go to ff0000.com
  </div>
</div>

</body></html>